/* Import theme variables */
@import url("theme-variables.css");

* {
	font-size: 12px;
	color: var(--text-primary);
	font-weight: 500;
	font-family: "JetBrainsMono NFP";
	margin: 0;
	padding: 0;
}
.yasb-bar {
	padding: 0 8px;
	margin: 0;
    background-color: var(--bg-primary);
    border: 1px solid var(--border-primary);
    border-radius: 16px;
}

QMenu {
    background-color: #e6ddd4;
    color: var(--text-primary);
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    padding: 4px;
}

QMenu::item {
    padding: 6px 20px;
    border-radius: 4px;
    color: var(--text-primary);
}

QMenu::item:selected {
    background-color: #d1c7bc;
}

QMenu::indicator, QCheckBox::indicator {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

QMenu::indicator:non-exclusive:unchecked, QCheckBox::indicator:unchecked {
    background-color: #f2ebe4;
    border: 1px solid #736b60;
    border-radius: 3px;
    image: none;
}

QMenu::indicator:non-exclusive:checked, QCheckBox::indicator:checked {
    background-color: #f2ebe4;
    border: 1px solid #736b60;
    border-radius: 3px;
    image: url("C:/Users/monst/.config/yasb/check.svg");
}

QMenu::separator {
    height: 1px;
    background-color: var(--border-primary);
    margin: 4px 6px;
}

.widget {
	padding: 0 10px;
	margin: 0;
}
.widget .label {
	padding: 2px 2px 1px 2px;
 
}
.widget .label.alt {
	padding: 1px 8px 1px 8px;
}
.traffic-widget {
	min-width: 220px;
	padding: 0 1px 0 1px;
}
.traffic-widget .label {
	display: inline-block;
	min-width: 220px;
}
.glazewm-workspaces {
    margin: 0;
}

.glazewm-workspaces .ws-btn {
    font-size: 18px;
    background-color: transparent;
    border: none;
    padding: 0 2px 0 2px;
    margin: 0;
    color: var(--text-secondary);
}

.glazewm-workspaces .ws-btn.active_populated {
    color: var(--primary);
}

.glazewm-workspaces .ws-btn.active_empty {
    color: var(--primary);
}

.glazewm-workspaces .ws-btn.populated {
    color: var(--primary-dim);
}

.glazewm-workspaces .ws-btn.empty {
    color: var(--text-secondary);
}

.glazewm-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn.populated:hover,
.glazewm-workspaces .ws-btn.empty:hover {
    color: var(--primary);
}

.glazewm-tiling-direction {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.glazewm-tiling-direction .btn {
    font-size: 18px;
    width: 14px;
    padding: 0 4px 0 4px;
    color: var(--text-primary);
    border: none;
}

.glazewm-tiling-direction .btn:hover {
    background-color: var(--bg-button-hover);
}
/*POWER MENU WIDGET*/
/* Uptime text */
.uptime {
	font-size: 14px;
	margin-bottom: 10px;
	color: rgba(212, 197, 176, 0.8);
	font-weight: 600;
	font-family: "JetBrainsMono NFP";
}
.power-menu-widget .label {
	color: var(--accent-warm);
	font-size: 16px;
}
.power-menu-popup .button {
	padding: 0;
	width: 160px;
	height: 240px;
	border-radius: 4px;
	background-color: var(--bg-secondary);
	font-family: "JetBrainsMono NFP";
	color: white;
	border: 4px solid rgba(255, 255, 255, 0);
 
}
.power-menu-popup .button.hover {
	background-color: var(--bg-button-hover);
	border: 4px solid var(--bg-button-hover);
}
.power-menu-popup .button .label {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.6);
	font-family: "JetBrainsMono NFP";
}
.power-menu-popup .button .icon {
	font-size: 64px;
	padding-top: 54px;
	color: rgba(255, 255, 255, 0.25);
}
.power-menu-popup .button.cancel {
    height: 20px !important; /* Much thinner than the 240px of other buttons */
    width: 100%; /* Full width to span across */
    padding-top: 10px;
    padding-bottom: 10px;
}

.power-menu-popup .button.cancel .icon {
    font-size: 24px !important; /* Smaller icon for the thinner button */
    padding-top: 0px !important; /* Remove the large top padding */
    color: rgba(193, 122, 92, 0.55);
}

.power-menu-popup .button.cancel .label {
    margin-bottom: 0px !important; /* Remove bottom margin */
    color: rgba(193, 122, 92, 0.95);
}
/* ICONS */
.icon {
	font-size: 16px;
	color: var(--primary);
}
.volume-widget .icon {
	color: var(--primary);
	margin: 1px 2px 0 0;
} 
.start-menu .icon {
    font-size: 18px;
	color: var(--primary)
}
/* WEATHER WIDGET */
.weather-card {
    background-color: var(--bg-tertiary);
}
.weather-card-today {
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    background-color:  rgba(17, 17, 27, 0.2);
}
.weather-card-today .label {
    font-size: 12px;
}
.weather-card-today .label.location {
    font-size: 24px;
    font-weight: 700;
}
.weather-card-today .label.alert {
    font-size: 12px;
    font-weight: 700;
    background-color: rgba(247, 199, 42, 0.05);
    border: 1px solid rgba(247, 209, 42, 0.1);
    color: rgba(196, 181, 162, 0.85);
    border-radius: 6px;
    padding: 5px 0;
}
.weather-card-day {
    border: 1px solid var(--border-secondary);
    border-radius: 8px;
    background-color:  rgba(30, 24, 20, 0.2);
}

.weather-card-day.active {
    background-color: var(--bg-hover);
    border: 1px solid rgba(70, 56, 45, 1);
}

.weather-card-day:hover {
    background-color: var(--bg-hover);
}

.weather-card-day .label {
    font-size: 12px;
}

.weather-card .hourly-container {
    border: 1px solid var(--border-primary);
    background-color: var(--primary-hover);
    border-radius: 8px;
    min-height: 150px;
}

.weather-card .hourly-data {
    /* font-family: 'Segoe UI';*/
    /* color: cyan;*/ /* <- Font color */
    background-color: var(--primary-hover); /* <- Curve color */
    font-size: 12px;
    font-weight: bold;
}

.traffic-menu {
    background-color: var(--bg-secondary);
    min-width: 280px;
}
.traffic-menu .header {
    border-bottom: 1px solid var(--border-primary);
    background-color: var(--bg-tertiary);
}
.traffic-menu .header .title {
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Segoe UI';
    color: var(--text-primary)
}
.traffic-menu .header .reset-button {
    font-size: 11px;
    padding: 4px 8px;
    margin-right: 8px;
    font-family: 'Segoe UI';
    border-radius: 4px;
    font-weight: 600;
    background-color: transparent;
    border: none;
}
.traffic-menu .reset-button:hover {
    color: var(--text-primary);
    background-color: rgba(212, 197, 176, 0.05);
    border: 1px solid rgba(212, 197, 176, 0.1);
}
.traffic-menu .reset-button:pressed {
    color: var(--text-primary);
    background-color: rgba(212, 197, 176, 0.1);
    border: 1px solid rgba(212, 197, 176, 0.2);
}
/* Speed column styles */
.traffic-menu .download-speed,
.traffic-menu .upload-speed {
    background-color: transparent;
    padding: 4px 10px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(212, 197, 176, 0.2);
}
.traffic-menu .download-speed {
    margin-left: 12px;
    margin-right: 12px;
}
.traffic-menu .speed-separator {
    max-width: 1px;
    background-color: rgba(212, 197, 176, 0.2);
    margin: 32px 0 16px 0;
}
.traffic-menu .upload-speed-value,
.traffic-menu .download-speed-value {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Segoe UI';
    color: var(--text-primary);
    display: inline-block;
    min-width: 95px;
    text-align: right;
}
.traffic-menu .upload-speed-unit,
.traffic-menu .download-speed-unit {
    font-size: 13px;
    font-family: 'Segoe UI';
    font-weight: 600;
    padding-top: 4px;
}
.traffic-menu .upload-speed-placeholder,
.traffic-menu .download-speed-placeholder {
    color: var(--text-tertiary);
    font-size: 11px;
    font-family: 'Segoe UI';
    padding: 0 0 4px 0;
}

/* Section and data styles */
.traffic-menu .section-title {
    font-size: 12px;
    font-weight: 600;
    color: var(--text-secondary);
    margin-bottom: 4px;
    font-family: 'Segoe UI';
}
.traffic-menu .session-section,
.traffic-menu .today-section,
.traffic-menu .alltime-section {
    margin: 8px 8px 0 8px;
    padding: 0 10px 10px 10px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.traffic-menu .data-text {
    font-size: 13px;
    color: #635b52;
    padding: 2px 0;
    font-family: 'Segoe UI';

}
.traffic-menu .data-value {
    font-weight: 600;
    font-size: 13px;
    font-family: 'Segoe UI';
    padding: 2px 0;
}

/* Interface and Internet info styles */
.traffic-menu .interface-info,
.traffic-menu .internet-info {
    font-size: 12px;
    color: #8c8276;
    padding: 8px 0;
    font-family: 'Segoe UI';
}
.traffic-menu .internet-info {
    background-color: rgba(68, 68, 68, 0.1);
}
.traffic-menu .internet-info.connected {
    background-color: rgba(145, 160, 110, 0.15);
    color: #5c6e46;
}
.traffic-menu .internet-info.disconnected {
    background-color: rgba(220, 120, 120, 0.15);
    color: #a84b4b;
}
.windows-desktops {
    padding: 0 2px 0 6px;
}
.windows-desktops .widget-container {
    background-color: transparent;
    margin: 4px 0 4px 0;
    border-radius: 12px;
}
.windows-desktops .ws-btn {
    color: transparent;
    border: 2px solid var(--text-primary);
    font-size: 0px;
    margin: 0 3px;
    margin-bottom: 3px;
    padding: 0;
    background-color: transparent;
    opacity: 0.9;
    border-radius: 8px;
    width: 10px;
    height: 8px;
    min-width: 13px;
    min-height: 13px;
    max-width: 13px;
    max-height: 13px;
    transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.windows-desktops .ws-btn.active {
    color: transparent;
    border: none;
    background-color: var(--primary);
    border-radius: 7px;
    width: 37px;
    height: 16px;
    max-width: 34px;
    max-height: 13px;
    transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
} 

.windows-desktops .context-menu {
    background-color:var(--bg-tertiary);
    border: none;
    border-radius: 2px;
    padding: 8px 0;
}
.windows-desktops .context-menu .menu-item {
    padding: 6px 16px;
    color: var(--text-primary);
}
.windows-desktops .context-menu .menu-item:hover {
    background-color: var(--bg-hover);
    color: var(--text-primary);
}
.windows-desktops .context-menu .separator {
    margin: 2px 0px 2px 0px;
    height: 1px;
    background-color: rgba(255,255,255,0.1);
}

.windows-desktops .rename-dialog {
    background-color: var(--bg-tertiary);   
}
.windows-desktops .rename-dialog QPushButton{
    background-color:rgba(255,255,255,0.1);
    color: #ffffff;
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
}
.windows-desktops .rename-dialog QPushButton:hover{
    background-color: var(--bg-button-hover);
    color: #ffffff;
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
}
 
.windows-desktops .rename-dialog QLabel {
    color: var(--text-primary);
}
.windows-desktops .rename-dialog QLineEdit {
    background-color: transparent;
    border: 1px solid var(--primary);
    padding: 4px;
    color: var(--text-primary);
}
.media-widget {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: visible;
}
.media-widget .widget-container {
    position: relative;
    overflow: visible;
}
.media-widget .label {
    color: #f5e4db;
    font-weight: 700;
    padding: 4px 8px;
    padding-right: 8px;
    font-size: 12px;
    background-color: transparent;
    position: relative;
    z-index: 2;
}
.media-widget .btn {
    color: var(--primary);
    padding: 0 4px;
    margin: 0;
    font-family: "Segoe Fluent Icons";
    font-weight: 400;
}
.media-widget .btn:hover {
    color: var(--text-primary);
}
.media-widget .btn.play {
    font-size: 16px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: var(--border-secondary);
    font-size: 12px;
}
.media-menu {
    min-width: 440px;
    max-width: 440px;
    background-color: var(--bg-secondary);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    font-family: 'Segoe UI';
}
.media-menu .artist {
    font-size: 13px;
    color: var(--text-tertiary);
    margin-top: 0px;
}
.media-menu .source {
    font-size: 11px;
    color: #000;
    border-radius: 3px;
    background-color: var(--primary-hover);
    padding: 2px 4px;
    font-weight: 600;
    font-family: 'Segoe UI';
    margin-top: 10px;
}
/* The source class name is the same as what you see in the media widget; just replace spaces with dashes and convert it to lowercase. 
Example: "Windows Media" becomes "windows-media" */
.media-menu .source.aimp {
    background-color: #6f42c1;
    color: #ffffff;
}
.media-menu .source.apple-music {
    background-color: #fa2b56;
    color: #ffffff;
}
.media-menu .source.brave {
    background-color: #fb542b;
    color: #ffffff;
}
.media-menu .source.chrome {
    background-color: #4285f4;
    color: #ffffff;
}
.media-menu .source.edge {
    background-color: #0078d4;
    color: #ffffff;
}
.media-menu .source.firefox {
    background-color: #ff7139;
    color: #ffffff;
}
.media-menu .source.foobar2000 {
    background-color: #444444;
    color: #ffffff;
}
.media-menu .source.media-player {
    background-color: #0078d4;
    color: #ffffff;
}
.media-menu .source.murglar {
    background-color: #8a8a8a;
    color: #ffffff;
}
.media-menu .source.musicbee {
    background-color: #ffcc00;
    color: #000000;
}
.media-menu .source.nsmusics {
    background-color: #e64a19;
    color: #ffffff;
}
.media-menu .source.opera {
    background-color: #ff1b2d;
    color: #ffffff;
}
.media-menu .source.qobuz {
    background-color: #003a6f;
    color: #ffffff;
}
.media-menu .source.spotify {
    background-color: #1db954;
    color: #ffffff;
}
.media-menu .source.tidal {
    background-color: #000000;
    color: #ffffff;
}
.media-menu .source.winamp {
    background-color: #f1a11b;
    color: #000000;
}
.media-menu .source.youtube {
    background-color: #ff0000;
    color: #ffffff;
}
.media-menu .source.youtube-music {
    background-color: #c51f1f;
    color: #ffffff;
}
.media-menu .source.zen {
    background-color: #2ecc71;
    color: #000000;
}
.media-menu .btn {
    font-family: "Segoe Fluent Icons";
    font-size: 14px;
    font-weight: 400;
    margin: 10px 2px 0px 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 20px;
}
.media-menu .btn.prev {
    margin-left: 10px;
}
.media-menu .btn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}
.media-menu .btn.play {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
    color: var(--border-secondary);
    background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
    font-size: 13px;
    font-family: 'Segoe UI';
    color: var(--text-secondary);
    margin-top: 20px;
    min-width: 100px;
}
.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
}
.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: rgba(212, 197, 176, 0.1);

}
.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: rgba(212, 197, 176, 0.2);
}
.media-menu .progress-slider::sub-page {
    background: var(--text-primary);
    border-radius: 3px;
    height: 4px;
}

.media-menu .app-volume-container {
    background-color: rgba(212, 197, 176, 0.05); 
    padding: 8px 6px;
    border-radius: 16px;
    margin-left: 10px;
    min-height: 140px;
    max-height: 140px;
}
.media-menu .app-volume-container .volume-slider {
    min-height: 100px;
    max-height: 100px;
    min-width: 20px;
    max-width: 20px;
}
.media-menu .app-volume-container .volume-slider::groove {
    background: rgba(212, 197, 176, 0.1);
    width: 2px;
    border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::add-page {
    background: var(--text-primary);
    border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::groove:hover {
    background: rgba(212, 197, 176, 0.1);
    width:  6px;    
    border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::sub-page {
    background: rgba(212, 197, 176, 0.1);
    border-radius: 3px;
}
.media-menu .app-volume-container .mute-button,
.media-menu .app-volume-container .unmute-button {
    font-size: 16px;
    color: var(--text-primary);
    font-family: "Segoe Fluent Icons";
    margin-top: 4px; 
}
.media-menu .app-volume-container .unmute-button {
    color: var(--text-secondary);
}
/* Clock Widget Styles */
.clock-widget {
    padding: 0 4px 0 0px;
    margin-right: 8px;
}
.clock-widget .icon {
    color: var(--primary-hover);
    font-size: 14px;
    padding-right: 4px;
}
.clock-widget .icon.alarm {
    color: var(--accent-warm);
    margin-left: 4px;
}
.clock-widget .label {
    color: var(--primary-hover);
}
.clock-widget .label.alarm {
    color: var(--primary);
    margin-left: 4px;
}

/* Calendar, Alarm, and Timer Popups */
.clock-popup.alarm,
.clock-popup.timer,
.clock-popup.calendar {
    min-width: 460px;
    background-color: var(--bg-secondary);
}

.clock-popup.calendar .calendar-table,
.clock-popup.calendar .calendar-table::item {
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-secondary);
    font-family: 'Segoe UI';
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.clock-popup.calendar .calendar-table::item:selected {
    color: #ffffff;
    font-weight: bold;
    background-color: var(--primary);
    border-radius: 12px;
}
.clock-popup.calendar .day-label {
    margin-top: 20px;
}
.clock-popup.calendar .day-label,
.clock-popup.calendar .month-label,
.clock-popup.calendar .date-label {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: var(--text-primary);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.clock-popup.calendar .month-label {
    font-weight: normal;
}
.clock-popup.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: var(--primary);
    margin-top: -20px;
}
.clock-popup.calendar .extended-container {
    border-left: 1px solid rgba(212, 197, 176, 0.2);
    background-color: transparent;
    padding-left: 16px;
}
.clock-popup.calendar .extended-container .button.alarm.small,
.clock-popup.calendar .extended-container .button.timer.small {
    min-width: 32px;
    min-height: 16px;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 2px;
}
.clock-popup.calendar .extended-container .upcoming-events-header {
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: 600;
    margin: 4px 0 8px 0;
    color: var(--text-primary);
}
.clock-popup.calendar .extended-container .upcoming-events-item {
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: 600;
    padding: 3px 0;
    color: #b8a890;
}
.clock-popup.calendar .extended-container .upcoming-events-item:hover {
    color: var(--text-primary);
}

/* Alarm and Timer Dialog Containers */
.clock-popup.timer .clock-popup-container,
.clock-popup.alarm .clock-popup-container {
    padding: 16px;
}
.clock-popup.timer .clock-popup-footer,
.clock-popup.alarm .clock-popup-footer {
    padding: 16px;
    border-top: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}
.clock-popup .clock-label-timer {
    font-size: 13px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: var(--text-secondary);
}
.clock-popup .clock-input-time {
    font-size: 48px;
    background-color: transparent;
    border: none;
    font-family: monospace, "Tahoma", "Segoe UI";
    font-weight: 600;
    color: var(--text-primary);
}
.clock-popup .clock-input-time.colon {
    padding-bottom: 8px;
}

/* Dialog Buttons */
.clock-popup .button {
    border-radius: 4px;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 13px;
    min-height: 28px;
    min-width: 64px;
    margin: 4px 0;
    background-color: rgba(212, 197, 176, 0.1);
}
.clock-popup .button.save,
.clock-popup .button.start,
.clock-popup .button.delete,
.clock-popup .button.cancel {
    min-width: 120px;
}

.clock-popup .button.save,
.clock-popup .button.start {
    background-color: rgba(139, 111, 71, 0.5);
    margin-right: 8px;
}

.clock-popup .button.save:hover,
.clock-popup .button.start:hover {
    background-color: rgba(139, 111, 71, 0.7);
}
.clock-popup .button.delete {
    background-color: rgba(193, 122, 92, 0.5);
}
.clock-popup .button.delete:hover {
    background-color: rgba(193, 122, 92, 0.7);
}
.clock-popup .button.is-alarm-enabled {
    background-color: rgba(139, 111, 71, 0.5);
}
.clock-popup .button.is-alarm-enabled:hover {
    background-color: rgba(139, 111, 71, 0.7);
}
.clock-popup .button.is-alarm-disabled {
    background-color: rgba(212, 197, 176, 0.2);
}
.clock-popup .button.day {
    background-color: rgba(212, 197, 176, 0.1);
    max-height: 20px;
    min-height: 20px;
}
.clock-popup .button.day:checked {
    background-color: rgba(139, 111, 71, 0.5);
}
.clock-popup .button.quick-option {
    background-color: rgba(212, 197, 176, 0.1);
}
.clock-popup .button.quick-option:checked {
    background-color: rgba(139, 111, 71, 0.5);
}
.clock-popup .button:hover {
    background-color: rgba(212, 197, 176, 0.2);
}
.clock-popup .button:disabled {
    background-color: rgba(100, 100, 100, 0.2);
    color: rgba(150, 150, 150, 0.7);
}
.clock-popup .alarm-input-title {
    font-size: 14px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #d2d6e2;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 8px;
    outline: none;
    min-width: 300px;
}

.clock-popup .alarm-input-title:focus {
    border: 1px solid #0078D4;
}

/* Active Alarm Popup Window */
.active-alarm-window {
    background-color: var(--bg-secondary);
    max-width: 500px;
    min-width: 500px;
    padding: 32px;
}
.active-alarm-window .alarm-title-icon {
    font-size: 64px;
    color: var(--text-primary);
    margin-bottom: 16px;
}
.active-alarm-window .alarm-title {
    font-size: 24px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: var(--text-primary);
    max-width: 500px;
    min-width: 500px;
}
.active-alarm-window .alarm-info {
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #b8a890;
    margin-bottom: 32px;
}
.active-alarm-window .button {
    border-radius: 4px;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 14px;
    min-height: 36px;
    min-width: 100px;
    margin: 0 4px;
    background-color: rgba(212, 197, 176, 0.1);
}
.active-alarm-window .button:hover {
    background-color: rgba(212, 197, 176, 0.3);
}
/* Todo Widget Styles */
.todo-widget {
    padding: 0 6px 0 6px;
}
.todo-widget .icon {
    color: var(--primary);
    padding: 0;
}
.todo-widget .label {
    font-size: 12px;
    padding: 0;
}
.todo-widget .label span {
    color: var(--primary);
}
/* Todo Menu Styles */
.todo-menu {
    background-color: var(--bg-secondary);
    min-width: 400px;
    max-width: 400px;
    min-height: 500px;
    max-height: 500px;
}
.todo-menu .header {
    margin: 16px 10px
}
.todo-menu .header .add-task-button,
.todo-menu .header .tab-buttons {
    border: none;
    border-radius: 13px;
    color: var(--text-primary);
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    font-family: 'Segoe UI', 'JetBrainsMono NFP';
}
.todo-menu .header .tab-buttons {
    margin: 0;
    font-size: 12px;
}
.todo-menu .header .add-task-button:hover {
    background-color: var(--primary-dim);
}
.todo-menu .header .tab-buttons.in-progress,
.todo-menu .header .tab-buttons.completed {
    background-color: transparent;
}
.todo-menu .header .tab-buttons.in-progress:checked {
    color: var(--primary-hover);
}
.todo-menu .header .tab-buttons.completed:checked {
    color: var(--accent-warm);
}
.todo-menu .header .tab-buttons.sort {
    background-color: rgba(212, 197, 176, 0.1);
    color: var(--text-primary);
    border-radius: 10px;
    min-height: 20px;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;
    padding: 0;
    margin: 0 8px 0 0;
    font-family: 'JetBrainsMono NFP';
}
.todo-menu .header .tab-buttons.sort:pressed {
    background-color: rgba(212, 197, 176, 0.2);
}
.todo-menu .no-tasks {
    font-family: 'Segoe UI';
    font-size: 18px;
    color: var(--text-secondary);
    font-weight: 400;
    margin-top: 16px;
}
.todo-menu .no-tasks-icon {
    font-size: 80px;
    color: var(--text-secondary);
    font-family: "JetBrainsMono NFP";
    margin-top: 64px;
    font-weight: 400;
}

/* Task item styles */
.todo-menu .task-item {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0px 12px 8px 12px;
    border: 1px solid rgba(212, 197, 176, 0.1);
    padding: 8px 0;
}
.todo-menu .task-item.expanded {
    background-color: rgba(211, 214, 219, 0.1);
    border: 1px solid rgba(212, 197, 176, 0.2);
}
.todo-menu .task-item.drop-highlight,
.todo-menu .task-item.drop-highlight:hover,
.todo-menu .task-item.drop-highlight:focus {
    background-color: rgba(139, 111, 71, 0.26);
    border: 1px solid var(--primary-dim);
}
.todo-menu .task-item .title {
    color: var(--text-primary);
    font-size: 13px;
    font-weight: 600;
    font-family: 'Segoe UI';
    padding: 0 8px 8px 8px;
    margin-top: 6px;
}
.todo-menu .task-item.completed .title,
.todo-menu .task-item.completed .description {
    text-decoration: line-through;
    color: var(--text-tertiary);
}
.todo-menu .task-item .description {
    color: var(--primary-hover);
    font-size: 12px;
    font-weight: 600;
    padding: 0 8px 8px 8px;
    font-family: 'Segoe UI';
}
.todo-menu .task-checkbox {
    background-color: transparent;
    border: none;
    margin-left: 12px;
    margin-top: 5px;
    font-size: 18px;
    color: var(--text-primary);
    font-family: 'JetBrainsMono NFP';
}
.todo-menu .task-checkbox:checked {
    color: var(--text-tertiary);
}

/* Task info row styles */
.todo-menu .task-info-row {
    margin-left: 8px;
    margin-bottom: 8px;
}
.todo-menu .task-info-row .date-text,
.todo-menu .task-info-row .category-text {
    font-family: 'Segoe UI';
    font-weight: 600;
    color: var(--text-tertiary);
    font-size: 13px;
    padding-left: 0px;
    margin-right: 12px;
}
.todo-menu .task-info-row .date-icon,
.todo-menu .task-info-row .category-icon {
    font-weight: 400;
    color: var(--text-secondary);
    font-size: 14px;
    font-family: 'JetBrainsMono NFP';
    margin-top: 1px;
}
.todo-menu .task-info-row .category-text.important,
.todo-menu .task-info-row .category-icon.important {
    color: var(--accent-warm);
}
.todo-menu .task-info-row .category-text.urgent,
.todo-menu .task-info-row .category-icon.urgent {
    color: #b86f50;
}
.todo-menu .task-info-row .category-text.soon,
.todo-menu .task-info-row .category-icon.soon {
    color: var(--primary-hover);
}
.todo-menu .task-info-row .category-text.today,
.todo-menu .task-info-row .category-icon.today {
    color: #d4b896;
}
.todo-menu .task-info-row .delete-task-button {
    background-color: rgb(139, 111, 71);
    color: #000000;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 12px;
    padding: 0 8px;
    border-radius: 10px;
    min-height: 20px;
    max-height: 20px;
    margin-right: 8px;
}

/* App dialog style */
.todo-menu .app-dialog {
    font-family: 'Segoe UI';
    background-color: #2d2420;
}
.todo-menu .app-dialog .buttons-container {
    background-color: #1f1916;
    margin-top: 16px;
    border-top: 1px solid #000;
    max-height: 80px;
    min-height: 80px;
    padding: 0 20px 0 20px;
}

.todo-menu .app-dialog .title-field,
.todo-menu .app-dialog .desc-field {
    background-color: #241e1a;
    border: 1px solid var(--border-primary);
    border-radius: 4px;
    padding: 0 6px;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    color: var(--text-primary);
    margin: 10px 0px 5px 0;
    min-height: 30px;
}
.todo-menu .app-dialog .desc-field {
    max-height: 60px;
}
.todo-menu .app-dialog .title-field:focus,
.todo-menu .app-dialog .desc-field:focus {
    border-bottom-color: var(--primary);
}
.todo-menu .app-dialog .button {
    background-color: var(--border-primary);
    border: none;
    border-radius: 4px;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    min-width: 80px;
    padding: 0 6px;
    margin: 10px 0 5px 6px;
    min-height: 28px;
    outline: none;
}
.todo-menu .app-dialog .buttons-container .button {
    margin: 10px 0 5px 0px;
    font-size: 13px;
}
.todo-menu .app-dialog .button:focus {
    border: 2px solid #adadad;
}
.todo-menu .app-dialog .button:focus,
.todo-menu .app-dialog .button:hover {
    background-color: var(--bg-button-hover);
}
.todo-menu .app-dialog .button:pressed {
    background-color: var(--border-secondary);
}
.todo-menu .app-dialog .button.add {
    background-color: var(--primary-dim);
}
.todo-menu .app-dialog .button.add:focus,
.todo-menu .app-dialog .button.add:hover {
    background-color: var(--primary-hover);
}
.todo-menu .app-dialog .button.add:pressed {
    background-color: var(--bg-button-hover);
}
.todo-menu .app-dialog .warning-message {
    background-color: #2b1e16;
    border: 1px solid #5a3f2c;
    border-radius: 4px;
    color: #c9a88f;
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 600;
    padding: 8px 12px;
    margin: 4px 0px;
}
.todo-menu .app-dialog .category-button {
    background-color: var(--border-primary);
    border: none;
    border-radius: 4px;
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: 700;
    color: var(--text-secondary);
    padding: 0 6px;
    margin-top: 8px;
    min-height: 24px;
    outline: none;
}
.todo-menu .app-dialog .category-button:checked {
    background-color: var(--primary-hover);
    color: var(--text-primary);
}
.home-widget {
    padding: 0 4px 0 12px;
}
.home-widget .icon {
    color: var(--primary);
}
.home-widget .icon:hover {
    color: var(--text-primary);
}
.home-menu {
    background-color: var(--bg-tertiary); 
}
.home-menu .menu-item {
    padding: 6px 48px 7px 16px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-primary); 
    font-weight: 600;
}
.home-menu .menu-item:hover {
    background-color: var(--bg-hover);
    color: var(--text-primary);
}
.home-menu .separator {
    max-height: 1px;
    background-color: rgba(212, 197, 176, 0.2);
}

/* CAVA Widget Styles */
.cava-widget {
    padding: 0 8px 0 8px;
    margin: 0;
    background-color: transparent;
}
.cava-widget .widget-container {
    padding: 2px 0;
    margin: 0;
}